version: '3.8'

services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: trafficguard-rabbit
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin123

  postgres:
    image: postgres:17
    container_name: trafficguard-db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: TrafficGuardDb
    ports:
      - "5433:5432"
    volumes:
      - postgres-data:/var/lib/postgresql  

volumes:
  postgres-data:
